<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.3.0" newVersion="6.9.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="eTRIKScontext_MySQL" connectionString="server=146.169.32.152;user id=root;password=imperial;persistsecurityinfo=True;database=eTRIKSdata;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />
    <add name="eTRIKScontext_local" connectionString="server=localhost;user id=root;password=etriks;persistsecurityinfo=True;database=eTRIKSdata;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />

    <!--
    <add name="eTRIKSServiceContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=eTRIKSServiceContext-20140821212714; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|eTRIKSServiceContext-20140821212714.mdf" providerName="System.Data.SqlClient"/>
    <add name="eTRIKS_schemaEntitiesNew" connectionString="metadata=res://*/DataAccess.eTRIKSModel.csdl|res://*/DataAccess.eTRIKSModel.ssdl|res://*/DataAccess.eTRIKSModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;user id=root;password=imperial;server=146.169.32.152;database=eTRIKS_schema&quot;" providerName="System.Data.EntityClient"/>
    <add name="ISATemplate_schemaEntities" connectionString="metadata=res://*/ModelFirst.ISATemplateModel.csdl|res://*/ModelFirst.ISATemplateModel.ssdl|res://*/ModelFirst.ISATemplateModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=146.169.32.152;user id=root;password=imperial;database=ISATemplate_schema&quot;" providerName="System.Data.EntityClient"/>
    <add name="eTRIKS_schemaEntities" connectionString="metadata=res://*/DataAccess.eTRIKSDataModel.csdl|res://*/DataAccess.eTRIKSDataModel.ssdl|res://*/DataAccess.eTRIKSDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;user id=root;password=imperial;server=146.169.32.152;database=eTRIKS_schema&quot;" providerName="System.Data.EntityClient"/>
    <add name="eTRIKS_schemaEntities1" connectionString="metadata=res://*/DataAccess.eTRIKSDataModel.csdl|res://*/DataAccess.eTRIKSDataModel.ssdl|res://*/DataAccess.eTRIKSDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;user id=root;password=imperial;server=146.169.32.152;database=eTRIKS_schema&quot;" providerName="System.Data.EntityClient"/>
    <add name="eTRIKSDataModel_Entities" connectionString="metadata=res://*/ModelFirst.eTRIKSDataModel.csdl|res://*/ModelFirst.eTRIKSDataModel.ssdl|res://*/ModelFirst.eTRIKSDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;user id=root;password=imperial;server=146.169.32.152;database=eTRIKS_schema&quot;" providerName="System.Data.EntityClient"/>
  -->
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>