<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appSettings>
        <add key="MapperFileNames" value="BT_3Y_R_QUALTRICS_mapper.csv,BT_SurveySMS_mapper.csv,BT_0_1_SNAP_mapper.csv,BT_RD_R_mapper.csv,BT_MONTHLY_QUALTRICS_mapper.csv" />
        <add key="MappersDirectory" value="/Users/iemam/Box/UNICORN - Data FAIRification/STAGING/BT/Mappers/checked/" />
        <add key="DescriptorsDirectory" value="/Users/iemam/Box/UNICORN - Data FAIRification/STAGING/BT/Descriptors/" />
        <add key="out" value="1" />
        <add key="Key2" value="2" />
    </appSettings>
</configuration>

