<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appSettings>
        <!--<add key="MapperFileNames" value="BT_3Y_R_QUALTRICS_mapper.csv,BT_SurveySMS_mapper.csv,BT_0_1_SNAP_mapper.csv,BT_RD_R_mapper.csv,BT_MONTHLY_QUALTRICS_mapper.csv" />-->
        <add key="MapperFileNames" value="BT_RD_R_mapper.csv" />
        <add key="MappersDirectory" value="/Users/iemam/Box/UNICORN - Data FAIRification/STAGING/MAPPERS/" />
        <add key="DescriptorsDirectory" value="/Users/iemam/Box/UNICORN - Data FAIRification/STAGING/BT/Descriptors/" />
        <add key="SourceDataDirectory" value="/Users/iemam/Box/UNICORN - Data FAIRification/STAGING/INPUT/" />
        <add key="OutputDirectory" value="/Users/iemam/Box/UNICORN - Data FAIRification/STAGING/OUTPUT/" />
        <add key="ProjectId" value="1" />
    </appSettings>
</configuration>

