<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>146.169.32.103</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/sandbox</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Ibrahim</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="eTRIKS.Commons.Persistence.AuthContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eTRIKS.Commons.Persistence.AuthContext, eTRIKS.Commons.Persistence" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MongoDBConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="mongodb://146.169.32.143:27020/eTRIKS" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MongoDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mongodb://146.169.32.143:27020/eTRIKS" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="eTRIKScontext_MySQL" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=146.169.32.152;user id=root;password=imperial;persistsecurityinfo=True;database=eTRIKSdata;allowuservariables=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\eTRIKScontext_MySQL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=146.169.32.152;user id=root;password=imperial;          persistsecurityinfo=True;database=eTRIKSdata;Allow User Variables=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="eTRIKS.Commons.Persistence.EtriksDataContextProd" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="eTRIKS.Commons.Persistence.EtriksDataContextProd, eTRIKS.Commons.Persistence" MigrationConfiguration="eTRIKS.Commons.Persistence.Migrations_prod.Configuration, eTRIKS.Commons.Persistence" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="eTRIKScontext_local" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=localhost;user id=root;password=etriks;persistsecurityinfo=True;database=eTRIKSdata;allowuservariables=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\eTRIKScontext_local_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=localhost;user id=root;password=etriks;persistsecurityinfo=True;          database=eTRIKSdata;Allow User Variables=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MongoDBprod" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="mongodb://eHS_app:eHS_app@146.169.33.32:27020/eTRIKS" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MongoDBprod_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mongodb://eHS_app:eHS_app@146.169.33.32:27020/eTRIKS" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MongoDBdev" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="mongodb://eHS_app:eHS_app@146.169.33.33:27020/eTRIKS_dev" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MongoDBdev_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mongodb://eHS_app:eHS_app@146.169.33.33:27020/eTRIKS_dev" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eTRIKS.Commons.Persistence.AuthContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eTRIKS.Commons.Persistence.EtriksDataContextProd-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eTRIKScontext_local-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eTRIKScontext_MySQL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MongoDBConnectionString-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="eTRIKS.Commons.Persistence.AuthContext" />
    <_ConnectionStringsToInsert Include="eTRIKS.Commons.Persistence.EtriksDataContextProd" />
  </ItemGroup>
</Project>